{% extends 'base.html' %}
{% load static %}
{% block title%} Register {% endblock %}
{% block content%}
    <div class="conainer contant">
        <div class="container maincnt">
           <h1>REGISTRATION FORM</h1>
           {% if messages %}
              {% for message in messages %}
                <p> {{message}}</p>
              {% endfor %}
            {% endif %}
            <form action="{% url 'register' %}" method="POST">
              {% csrf_token %}
              <label class="label mt-5" for="" >Username:</label>
              <input class="input" type="text" name="uname"> <br> <br>
              <label class="label" for="">Contact</label>
              <input class="input" type="text" name="contact" id=""> <br> <br>
              <label class="label" for="">Email:</label>
              <input class="input" type="email" name="email"> <br> <br>
              <label class="label" for="">Password:</label>
              <input class="input" type="password" name="password"> <br> <br>
              <button class="button" type="submit">Submit</button>
   
            </form>
           
        </div>
    </div>
{% endblock %}

